<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                {% if movement.tipo == 'emprestimo' %}
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Termo de Consentimento para Empréstimo de
                    Ativos e/ou Acessórios e/ou Consumíveis
                    de Tecnologia</h1>
                {%else%}
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Termo de Consentimento para Movimentação de
                    Ativos e/ou Acessórios e/ou Consumíveis
                    de Tecnologia</h1>
                {%endif%}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                {% include 'apps/tech_assets/partials_tech_assets/_term_modal/_term_modal_text_loan.html' %}
            </div>
            <div class="modal-footer">
                <div class="form-check">
                    {% if term.aceite_usuario == 'aceito'%}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked disabled>
                    {%else%}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    {%endif%}
                    <label class="form-check-label" for="defaultCheck2">
                        Declaro-me de acordo com os termos impostos
                    </label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <!--<button type="button" class="btn btn-primary">Understood</button>-->
            </div>
        </div>
    </div>
</div>

<script>
    // Seleciona o checkbox e o link "Aceitar"
    const checkbox = document.getElementById('defaultCheck2');
    const acceptLink = document.getElementById('acceptLink');

    // Função para verificar o estado do checkbox e adicionar/remover a classe 'disabled'
    function toggleLinkState() {
        if (checkbox.checked) {
            acceptLink.classList.remove('disabled');
        } else {
            acceptLink.classList.add('disabled');
        }
    }

    // Adiciona um event listener ao checkbox para verificar quando o estado mudar
    checkbox.addEventListener('change', toggleLinkState);

    // Chama a função inicialmente para garantir que o link esteja no estado correto
    toggleLinkState();
</script>