html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #04244f;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  bottom: 0;
}

.form-group-new {
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}

.icon-alert {
  font-size: 28px;
  color: red;
  margin-bottom: 8px; /* Espaçamento entre o ícone e o link */
  animation: blink 1s infinite;
}


@media (max-width: 768px) {
  .table .less-important-column {
    display: none;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 800px; /* Ajuste este valor conforme necessário */
}

@media (max-width: 992px) {
  .table {
      width: auto;
  }
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.profile-image {
  width: 60px; /* Defina o tamanho desejado */
  height: 60; /* Defina o tamanho desejado */
  border-radius: 50%; /* Transforma a imagem em um círculo */
  object-fit: cover; /* Garante que a imagem cubra a área especificada */
  object-position: center; /* Centraliza a imagem dentro do círculo */
}