html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #04244f;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  bottom: 0;
}

.form-group-new {
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}

.icon-alert {
  font-size: 28px;
  color: red;
  margin-bottom: 8px; /* Espaçamento entre o ícone e o link */
  animation: blink 1s infinite;
}