{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="border-style: double; border-color: rgb(0, 0, 0); padding: 2px; margin-left: 0; margin-right: 15px;">
            <img src="{% static 'assets/marcaDaguaAviva.png' %}" style="width: 60px;" />
            <a class="navbar-brand" href="#">TechOps Hub</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">
                {% if request.user.is_authenticated %}
                <img class="profile-image" src="data:image/jpeg;base64,{{ profile_photo }}" style="width: 60px;" />
                <p style="margin-bottom: 0; font-size: 8pt; color: white;">{{ request.user.first_name }}</p>
                {% else %}
                <img class="profile-image" src="{% static 'assets/perfil.png' %}" style="width: 60px;" />
                <p style="margin-bottom: 0; font-size: 8pt; color: white;">user_name</p>
                {% endif %}
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ativos' %}">Ativos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Novo(a)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'cadastro_ativo' %}">Novo Ativo</a>
                        <a class="dropdown-item" href="{% url 'novo_movimento' %}">Nova Movimentação</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'cadastro_tipo_ativo' %}">Novo Tipo de Ativo</a>
                        <a class="dropdown-item" href="{% url 'cadastro_modelo' %}">Novo Modelo</a>
                        <a class="dropdown-item" href="{% url 'cadastro_centro_custo' %}">Novo Centro de Custo</a>
                        <a class="dropdown-item" href="{% url 'cadastro_local' %}">Novo Local</a>
                        <a class="dropdown-item" href="{% url 'cadastro_fabricante' %}">Novo Fabricante</a>

                    </div>
                </li>
            </ul>
            {% include 'partials/_alerts.html' %}
            <div style="padding: 0.3rem; container-type: inline;">
                <form class="form-inline my-2 my-lg-0">
                    {% if is_administradores_user or is_aprovadores_user %}
                    {% if aprovacoes_pendentes %}
                    <!-- Ícone de alerta -->
                    <a class="nav-link" href="{% url 'aprovacoes' %}"
                        style="margin-bottom: 0; display: flex; align-items: baseline;">
                        <p style=" color: yellow;">Aprovações
                            Pendentes</p>
                        <span class="icon-alert" style="margin-left: 8px;">&#9888;</span>
                    </a>
                    {% else %}
                    <a class="nav-link disabled" href="#">Aprovações Pendentes</a>
                    {% endif %}
                    {% endif %}
                    {% if cart_item_count > 0 %}
                    <a class="nav-link" href="{% url 'carrinho' %}"
                        style="margin-bottom: 0; margin-right: 20px; display: flex; align-items: baseline;">
                        <div class="cart-icon-container">
                            <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 30px; color: grey;"></i>
                            <span class="cart-count">{{cart_item_count}}</span>
                        </div>
                    </a>
                    {% else %}
                    <a class="nav-link disabled" href="#"
                        style="margin-bottom: 0; margin-right: 20px; display: flex; align-items: baseline;">
                        <div class="cart-icon-container disabled">
                            <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 30px; color: rgb(82, 82, 82);"></i>
                            <span class="cart-count">0</span>
                        </div>
                    </a>
                    {% endif %}
                    <input class="form-control" type="text" name="q" id="filterInput" value="{{ query }}"
                        placeholder="Pesquisar...">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    <a href="{{ URL_LOGOUT }}" class=" btn btn-outline-secondary my-2 my-sm-0
                        ml-3">Sair</a>
                </form>
            </div>
        </div>
    </nav>
</header>