{% load static %}
{% load template_tags %}



<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
        <div class="logo_menu"
            style="padding: 2px; margin-left: 0; margin-right: 15px;">
            <img src="{% static 'assets/marcaDaguaAviva.png' %}" style="width: 60px;" />
            <a class="navbar-brand">Tech Ops Hub</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if 'Suporte' in user_groups or 'Administradores' in user_groups %}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
                data-bs-trigger="hover focus"
                data-bs-content="Área para cadastros em geral.">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Novo(a)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'cadastro_ativo' %}">Novo Ativo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'novo_movimento' %}">Nova Movimentação</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'cadastro_acessorio' %}">Novo Acessório</a>
                        <a class="dropdown-item" href="{% url 'cadastro_centro_custo' %}">Novo Centro de Custo</a>
                        <a class="dropdown-item" href="{% url 'cadastro_fabricante' %}">Novo Fabricante</a>
                        <a class="dropdown-item" href="{% url 'cadastro_local' %}">Novo Local</a>
                        <a class="dropdown-item" href="{% url 'cadastro_modelo' %}">Novo Modelo</a>
                        <a class="dropdown-item" href="{% url 'cadastro_tipo_ativo' %}">Novo Tipo de Ativo</a>
                    </div>
                </li>
                </span>
                {%endif%}

                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
                data-bs-trigger="hover focus"
                data-bs-content="Área para visualizações em geral.">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ver
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if 'Suporte' in user_groups or 'Administradores' in user_groups or 'Aprovadores TI' in user_groups %}
                        <a class="dropdown-item" href="{% url 'ativos' %}">Ativos</a>
                        <div class="dropdown-divider"></div>
                        {% if not 'Aprovadores TI' in user_groups or not aprovacoes_pendentes %}
                        <a class="dropdown-item" href="{% url 'aprovacoes' %}">Aprovações</a>
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        
                        <a class="dropdown-item" href="{% url 'acessorios' %}">Acessórios</a>
                        <a class="dropdown-item" href="{% url 'centros_custo' %}">Centros de Custo</a>
                        <a class="dropdown-item" href="{% url 'fabricantes' %}">Fabricantes</a>
                        <a class="dropdown-item" href="{% url 'locais' %}">Locais</a>
                        <a class="dropdown-item" href="{% url 'modelos_ativo' %}">Modelos de Ativo</a>
                        <a class="dropdown-item" href="{% url 'tipos_ativo' %}">Tipos de Ativo</a>
                        <div class="dropdown-divider"></div>
                        {%endif%}
                        {% if 'Suporte' in user_groups or 'Administradores' in user_groups or 'Aprovadores TI' in user_groups or 'TH' in user_groups %}
                        <a class="dropdown-item" href="{% url 'termos' %}">Termos</a>
                        <div class="dropdown-divider"></div>
                        {%endif%}
                        <a class="dropdown-item {% if minhas_movimentacoes %}disabled{%endif%}" href="{% url 'minhas_movimentacoes' %}">Minhas Movimentações</a>
                    </div>
                </li>
                </span>
                
                {% if 'Move GPOS' in user_groups or 'Suporte' in user_groups or 'Administradores' in user_groups %}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
                data-bs-trigger="hover focus"
                data-bs-content="Acesse a aplicação Move GPOS clicando aqui.">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'move_gpos' %}">Move GPOS</a>
                </li>
                </span>
                {%endif%}
            </ul>
            {% include 'partials/_alerts.html' %}
            <div style="padding: 0.3rem; container-type: inline;">
                <form class="form-inline my-2 my-lg-0">

                    {% if aprovacoes_pendentes and 'Aprovadores TI' in user_groups %}
                    <!-- Ícone de alerta -->
                    <a class="nav-link" href="{% url 'aprovacoes' %}"
                        style="margin-bottom: 0; display: flex; align-items: baseline;">
                        <p style=" color: yellow;">Aprovações
                            Pendentes</p>
                        <span class="icon-alert" style="margin-left: 8px;">&#9888;</span>
                    </a>
                    {% endif %}

                    
                    {% if 'Suporte' in user_groups or 'Administradores' in user_groups %}
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom"
                    data-bs-trigger="hover focus"
                    data-bs-content="Área de ativos selecionados para nova movimentação. Os ativos inseridos aqui ficarão indisponíveis para outros usuários. Portanto, mantenha-os aqui apenas se realmente for realizar a movimentação.">
                    {% if cart_item_count > 0 %}
                    <a class="nav-link" href="{% url 'carrinho' %}"
                        style="margin-bottom: 0; margin-right: 20px; display: flex; align-items: baseline;">
                        <div class="cart-icon-container">
                            <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 25px; color: grey;"></i>
                            <span class="cart-count">{{cart_item_count}}</span>
                        </div>
                    </a>
                    {% else %}
                    <a class="nav-link disabled" href="#"
                        style="margin-bottom: 0; margin-right: 20px; display: flex; align-items: baseline;">
                        <div class="cart-icon-container disabled">
                            <i class="fa fa-shopping-cart"
                                style="margin-left: 8px; font-size: 25px; color: rgb(82, 82, 82);"></i>
                            <!--<span class="cart-count">0</span>-->
                        </div>
                    </a>
                    {% endif %}
                    </span>
                    {% endif %}
                    <!--
                    {% if 'Suporte' in user_groups or 'Administradores' in user_groups or 'TH' in user_groups %}
                    <input class="form-control" type="text" name="q" id="filterInput" value="{{ query }}"
                        placeholder="Pesquisar...">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg></button>
                    {% endif %}
                    -->
                </form>
            </div>
            <div id="id_profile_dropdown" class="dropstart" style="padding-right: 10pt;">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    {% if request.user.is_authenticated and profile_photo != None %}
                    <img alt="" width="32" height="32" class="rounded-circle me-2"
                        src="data:image/jpeg;base64,{{ profile_photo }}" />

                    <strong>{{ request.user.first_name }}</strong>
                    {% else %}
                    <img alt="" width="32" height="32" class="rounded-circle me-2"
                        src="{% static 'assets/perfil.png' %}" />
                    <strong>{{ request.user.first_name }}</strong>
                    {% endif %}

                </a>
                
                <ul class="dropdown-menu dropdown-menu-light text-small shadow" data-bs-auto-close="true">
                    <!--
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>-->
                    <li><a class="dropdown-item" href="#">Matricula: {{ user.user_employee.employee.matricula }}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>

function toggleDropdownClass() {
    var navbarToggler = document.querySelector('.navbar-toggler');
    var profileDropdown = document.getElementById('id_profile_dropdown');

    if (navbarToggler && profileDropdown) {
        if (window.getComputedStyle(navbarToggler).display !== 'none') {
            profileDropdown.classList.remove('dropstart');
            profileDropdown.classList.add('dropdown');
        } else {
            profileDropdown.classList.remove('dropdown');
            profileDropdown.classList.add('dropstart');
        }
    }
}

document.addEventListener('DOMContentLoaded', toggleDropdownClass);
window.addEventListener('resize', toggleDropdownClass);
</script>