<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mais Informações</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">

                <div class="container mt-5" style="font-size: 12pt;">
                    <p>O sistema Tech Ops Hub (TOH) tem como finalidade centralizar operações de TI. A versão que atual
                        oferece as seguintes aplicações:
                    </p>
                    <p>
                    <ul>
                        <li>
                            <strong>Tech Assets: </strong>
                            Gerenciar ativos de TI tal como documentar empréstimos e demais documentações. Com o Tech
                            Assets à oepração de Service Desk tem maior rastreabilidade do que foi movimentado; controle
                            de dispositivos que entram na TI para manutenção; histórico de manutenção de ativos; assim
                            como eventos de movimentações que envolvam os mesmos.
                        </li>
                        <li>
                            <strong>Move GPOS: </strong>
                            Aplicação que permite a operação de A&B, Hotéis e lazeres façam pedidos de troca de PDVs
                            para os dispositivos GPOS; assim como acompanhamento e histórico de todas as solicitações do
                            usuário.
                        </li>
                    </ul>
                    </p>
                    </br>
                    <p>
                        <strong>Informações de versão:</strong>
                        <p>
                            <ul>
                                <li>
                                    <strong>Versão: </strong>
                                    1.0.0
                                </li>
                                <li>
                                    <strong>Desenvolvedor: </strong>
                                    Thiago Leite
                                </li>
                            </ul>
                        </p>
                    </p>
                    <p>
                        <strong>Contatos:</strong>
                        <p>
                            <ul>
                                <li>
                                    <strong>Suporte: </strong>
                                    ServiceDesk@aviva.com.br
                                </li>
                                <li>
                                    <strong>Desenvolvimento: </strong>
                                    thiago.leite@aviva.com.br
                                </li>
                            </ul>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>