{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="container">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center; color: #6c757d;" name="asset_form">{{form.form_name}}</h1>
        </div>
        <!--<hr/>-->
        <div class="container container_form_id"
            style="border: 2px; padding: 20px; border-radius: 10px;">
            <form action="{%    url url_form %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'apps/move_gpos/_requisicao_troca/_request_form.html' %}
            </form>
        </div>
    </div>
</main>

{% endblock %}

