{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="container">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center;" name="asset_form">{{form.form_name}}</h1>
        </div>

        <div class="container"
            style="border: 2px; border-style: solid; border-color: rgb(56, 54, 54); padding: 20px; border-radius: 10px;">
            <form action="{%    url url_form %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'apps/move_gpos/_requisicao_troca/_request_form.html' %}
            </form>
        </div>
    </div>
</main>

{% endblock %}

