{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center;" name="assets">Informações sobre Movimentação</h1>
        </div>
        <div style="margin-bottom: 10px; display: flex; justify-content: flex-end;">
        </div>
        <!----------------------------------------------------------------------------------------------------------->
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="perfil-tab" data-toggle="tab" href="#perfil" role="tab"
                            aria-controls="perfil" aria-selected="true">Aprovação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="movement-tab" data-toggle="tab" href="#movement" role="tab" aria-controls="movement"
                            aria-selected="false">Informações da Movimentação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="ativos-tab" data-toggle="tab" href="#ativos" role="tab"
                            aria-controls="ativos" aria-selected="false">Ativos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="acessorios-tab" data-toggle="tab" href="#acessorios" role="tab"
                            aria-controls="acessorios" aria-selected="false">Acessórios</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    {% include 'apps/tech_assets/partials_tech_assets/_approval_tab_content/_approval_tab_content.html' %}
                    {% include 'apps/tech_assets/partials_tech_assets/_movement_tab_content/_movement_tab_content_list/_movement_tab_content_list.html' %}
                    {% include 'apps/tech_assets/partials_tech_assets/_assets_tab_content/_assets_tab_content.html' %}
                    {% include 'apps/tech_assets/partials_tech_assets/_accessorys_tab_content/_accessorys_tab_content.html' %}
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Script do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

<!--
    <footer>
        <div class="container">
            <span class="navbar-text">
                &copy; 2024 Aviva. Todos os direitos reservados.
            </span>
            <div class="ml-auto">
                <img src="{% static '/assets/marcaDaguaAviva.png' %}" class="rodape__image" alt="Icon" />
            </div>
        </div>
    </footer>
-->
{% endblock %}