{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center;" name="assets">Aprovações</h1>
        </div>
        <div class="row">
            {% for aprovall in page_obj %}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'aprovacao' aprovall.id %}">{{ aprovall.movimentacao }}</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID: {{ aprovall.id }}</li>
                        <li class="list-group-item">Aprovador designado: {{ aprovall.aprovador }}</li>
                        <li class="list-group-item">Status: {{ aprovall.get_status_aprovacao_display }}</li>
                    </ul>
                    <div class="card-body">
                        {% if is_aprovadores_user %}
                        <div class="end-template container-fluid"
                            style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                            <a href="{% url 'novo_movimento' %}"
                                class="btn btn-success btn-lg"
                                style="margin-right: 10px;">Aprovar</a>
                            <a href="{% url 'deleta_carrinho' %}"
                                class="btn btn-danger btn-lg">Reprovar</a>
                        </div>
                        {% else %}
                        <div class="end-template container-fluid"
                            style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                            <a href="{% url 'novo_movimento' %}"
                                class="btn btn-success btn-lg disabled"
                                style="margin-right: 10px;">Aprovar</a>
                            <a href="{% url 'deleta_carrinho' %}"
                                class="btn btn-danger btn-lg disabled">Reprovar</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Controles de Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</main>

<!--
    <footer>
        <div class="container">
            <span class="navbar-text">
                &copy; 2024 Aviva. Todos os direitos reservados.
            </span>
            <div class="ml-auto">
                <img src="{% static '/assets/marcaDaguaAviva.png' %}" class="rodape__image" alt="Icon" />
            </div>
        </div>
    </footer>
    -->


{% endblock %}