{% extends 'shared/base.html' %} {% load static %} {% block content %} {% load template_tags %}
<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center; color:#6c757d" name="aprovall">Aprovações</h1>
        </div>
        <!--<hr/>-->
        <div class="card-header">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Filtros
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="GET" class="row g-3">
                                <div class="col-md-3">
                                    <label for="id_responsavel" class="form-label">{{ filter.form.responsavel.label }}</label>
                                    <input type="text" class="form-control" id="id_responsavel" name="responsavel"
                                        value="{% if filter.form.responsavel.value != None %}{{ filter.form.responsavel.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-3">
                                    <label for="id_matricula" class="form-label">{{ filter.form.matricula.label }}</label>
                                    <input type="text" class="form-control" id="id_matricula" name="matricula"
                                        value="{% if filter.form.matricula.value != None %}{{ filter.form.matricula.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-3">
                                    <label for="id_status_aprovacao" class="form-label">
                                        {{ filter.form.status_aprovacao.label }}
                                    </label>
                                    <select id="id_status_aprovacao" name="status_aprovacao" class="form-select">
                                        {% for opt in filter.form.status_aprovacao.field.choices %}
                                        <option value="{{ opt.0 }}"
                                        {% if opt.0|stringformat:"s" in filter.form.status_aprovacao.value|stringformat:"s" %} selected{% endif %}>
                                            {{ opt.1 }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="id_numero" class="form-label">{{ filter.form.numero.label }}</label>
                                    <input type="number" class="form-control" id="id_numero" name="numero"
                                        value="{% if filter.form.numero.value != None %}{{ filter.form.numero.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-3">
                                    <label for="id_chamado" class="form-label">{{ filter.form.chamado.label }}</label>
                                    <input type="text" class="form-control" id="id_chamado" name="chamado"
                                        value="{% if filter.form.chamado.value != None %}{{ filter.form.chamado.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-3">
                                    <label for="id_centro_custo" class="form-label">{{ filter.form.centro_custo.label }}</label>
                                    <input type="text" class="form-control" id="id_centro_custo" name="centro_custo"
                                        value="{% if filter.form.centro_custo.value != None %}{{ filter.form.centro_custo.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-3">
                                    <label for="id_ativo" class="form-label">{{ filter.form.ativo.label }}</label>
                                    <input type="text" class="form-control" id="id_ativo" name="ativo"
                                        value="{% if filter.form.ativo.value != None %}{{ filter.form.ativo.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-3">
                                    <label for="id_tipo" class="form-label">
                                        {{ filter.form.tipo.label }}
                                    </label>
                                    <select id="id_tipo" name="tipo" class="form-select">
                                        {% for opt in filter.form.tipo.field.choices %}
                                        <option value="{{ opt.0 }}"
                                        {% if opt.0|stringformat:"s" in filter.form.tipo.value|stringformat:"s" %} selected{% endif %}>
                                            {{ opt.1 }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                    <a href="{% url 'aprovacoes' %}" type="button" class="btn btn-secondary">Limpar</a>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="container-fluid" style="justify-content: center; display: flex; margin: 10px;">
                <p class="d-inline-flex gap-1">
                    <button id="btn-aprovado" type="button" class="btn btn-outline-success"
                        onclick="toggleFilter('aprovado', this)">Aprovadas</button>
                    <button id="btn-reprovado" type="button" class="btn btn-outline-danger"
                        onclick="toggleFilter('reprovado', this)">Reprovadas</button>
                    <button id="btn-pendente" type="button" class="btn btn-outline-primary"
                        onclick="toggleFilter('pendente', this)">Pendentes</button>
                </p>
            </div>
            -->
            {% for approval in page_obj %}
            <div class="col-sm-3" style="padding-bottom: 10px;">
                <div class="card {{ approval.status_aprovacao|checa_resposta_aprovacoes }}  h-100">
                    <div class="card-header">
                        <h5 class="card-title text-center"><a href="{% url 'aprovacao' approval.id %}">Aprovação
                                Número:
                                {{approval.id}}</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID Movimentação: </b>{{approval.movimentacao.id}}</li>
                        <li class="list-group-item"><b>Tipo de Movimentação:
                            </b>{{approval.movimentacao.get_tipo_display}}</li>
                        <li class="list-group-item"><b>Status Movimentação:
                            </b>{{approval.movimentacao.get_status_display}}</li>
                        <li class="list-group-item"><b>Usuário Responsável:
                            </b>{{approval.movimentacao.usuario.first_name}} {{approval.movimentacao.usuario.last_name}}
                            ({{approval.movimentacao.usuario}})</li>
                        <li class="list-group-item"><b>Matricula Responsável: </b>{{ approval.movimentacao.usuario.user_employee.employee.matricula }}</li>
                        <li class="list-group-item"><b>Aprovador designado: </b>{{approval.aprovador.first_name}} {{approval.aprovador.last_name}}</li>
                    </ul>
                    <div class="card-body h-100">
                        <h5 class="card-title">Resposta do Aprovador Designado: </h5>
                        {% if approval.status_aprovacao != 'pendente' %}
                        {{approval.get_status_aprovacao_display}} por <strong>{{approval.aprovador.first_name}} {{approval.aprovador.last_name}}</strong> em {{approval.data_conclusao}}{% else %}
                        Pendente
                        {%endif%}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% include 'apps/tech_assets/partials_tech_assets/_paginator_filter_termos_aprovacoes/_paginator_filter_termos_aprovacoes.html' %}

{% endblock %}