{% extends 'shared/base.html' %} {% load static %} {% block content %}

<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center; color:#6c757d" name="assets">Ativos Cadastrados</h1>
        </div>
        <!--<hr/>-->
        <div class="card-header">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Filtros
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="GET" class="row g-3">
                                <div class="col-md-4">
                                    <label for="id_nome" class="form-label">{{ filter.form.nome.label }}</label>
                                    <input type="text" class="form-control" id="id_nome" name="nome"
                                        value="{% if filter.form.nome.value != None %}{{ filter.form.nome.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-4">
                                    <label for="id_patrimonio" class="form-label">Patrimônio</label>
                                    <input type="text" class="form-control" id="id_patrimonio" name="patrimonio"
                                        value="{% if filter.form.patrimonio.value != None %}{{ filter.form.patrimonio.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-4">
                                    <label for="id_tipo" class="form-label">{{ filter.form.tipo.label }}</label>
                                    <select id="id_tipo" name="tipo" class="form-select">
                                        <option value="" {% if not filter.form.tipo.value %}selected{% endif %}>
                                            ---------
                                        </option>
                                        {% for opt in filter.form.tipo.field.queryset %}
                                        <option value="{{ opt.pk }}" 
                                        {% if opt.pk|stringformat:"s" in filter.form.tipo.value|stringformat:"s" %} selected{% endif %}>
                                            {{ opt.nome }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="id_modelo" class="form-label">
                                        {{ filter.form.modelo.label }}
                                    </label>
                                    <select id="id_modelo" name="modelo" class="form-select">
                                        <option value="" {% if not filter.form.modelo.value %}selected{% endif %}>
                                            ---------
                                        </option>
                                        {% for opt in filter.form.modelo.field.queryset %}
                                        <option value="{{ opt.pk }}"
                                        {% if opt.pk|stringformat:"s" in filter.form.modelo.value|stringformat:"s" %} selected{% endif %}>
                                            {{ opt.nome }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="id_numero_serie" class="form-label">
                                        {{ filter.form.numero_serie.label }}
                                    </label>
                                    <input type="text" class="form-control" id="id_numero_serie" name="numero_serie"
                                        value="{% if filter.form.numero_serie.value != None %}{{ filter.form.numero_serie.value }}{% else %}{%endif%}">
                                </div>
                                <div class="col-md-4">
                                    <label for="id_status" class="form-label">
                                        {{ filter.form.status.label }}
                                    </label>
                                    <select id="id_status" name="status" class="form-select">
                                        {% for opt in filter.form.status.field.choices %}
                                        <option value="{{ opt.0 }}"
                                        {% if opt.0|stringformat:"s" in filter.form.status.value|stringformat:"s" %} selected{% endif %}>
                                            {{ opt.1 }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                    <a href="{% url 'ativos' %}" type="button" class="btn btn-secondary">Limpar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table id="assetsTable" class="table table-bordered">
                <thead class="thead-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Patrimônio</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Número de Série</th>
                    <th scope="col">Status</th>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Carrinho</th>

                </thead>
                <tbody>
                    {% for asset in page_obj %}
                    <tr data-item-id="{{ asset.id }}">
                        <th scope="row">{{ asset.id }}</th>
                        <td>{{ asset.nome }}</td>
                        <td>{{ asset.patrimonio }}</td>
                        <td>{{ asset.tipo }}</td>
                        <td>{{ asset.numero_serie }}</td>
                        <td>{{ asset.get_status_display }}</td>
                        <td><a style="pointer-events: stroke;" href="{% url 'ativo' asset.id %}">
                                <div class="cart-icon-container">
                                    <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                                </div>
                            </a></td>
                        {% if asset.id in assets_in_cart or asset.id in assets_unavailable %}
                        <td><a style="pointer-events: none; color: gray;" href="{% url 'remove_do_carrinho' asset.id %}"
                                title="Já no carrinho">
                                <div class="cart-icon-container">
                                    <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 25px;"></i>
                                    <span class="cart-block"><i class="fa fa-ban"></i></span>
                                </div>
                            </a></td>
                        {% else %}
                        <td><a style="pointer-events: stroke; color: green;" href="{% url 'add_carrinho' asset.id %}">
                                <div class="cart-icon-container">
                                    <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 25px;"></i>
                                    <span class="cart-add"><i class="fa fa-arrow-up"></i></span>
                                </div>
                            </a></td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9">Nenhum ativo encontrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Controles de Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1&{{ query }}">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{ query }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ query }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{ query }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</main>

{% endblock %}