{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="d-flex flex-nowrap">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center; color:#6c757d">Página principal!</h1>
        </div>
        <!--<hr/>-->
    </div>
</main>

<!--
    <footer>
        <div class="container">
            <span class="navbar-text">
                &copy; 2024 Aviva. Todos os direitos reservados.
            </span>
            <div class="ml-auto">
                <img src="{% static '/assets/marcaDaguaAviva.png' %}" class="rodape__image" alt="Icon" />
            </div>
        </div>
    </footer>
    -->



{% endblock %}