{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="d-flex flex-nowrap">
    <div class="container-fluid" style="padding-top: 20px;">
        <!--
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center; color:#6c757d">Página principal!</h1>
        </div>
        -->
        <!--<hr/>-->
        {% include 'apps/tech_assets/partials_tech_assets/_index_content_alerts/_index_content_alerts.html' %}

        {% if termo_pendente %}
        {% include 'apps/tech_assets/partials_tech_assets/_index_modal_alert/_modal_termo_pendente/_modal_termo_pendente.html' %}
        {% endif %}
    </div>
    
</main>

<!-- Script para abrir o modal automaticamente -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myModal = new bootstrap.Modal(document.getElementById('termo_pendente'));
        myModal.show();
        console.log("Opções recebidas:", myModal);
    });
</script>

{% endblock %}

