{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center;" name="assets">Termos de Responsabilidade</h1>
        </div>
        <div class="row">
            <div class="container-fluid" style="justify-content: center; display: flex; margin: 10px;">
                <p class="d-inline-flex gap-1">
                    <button id="btn-aceito" type="button" class="btn"
                        onclick="toggleFilter('aceito', this)">Aceitos</button>
                    <button id="btn-recusado" type="button" class="btn"
                        onclick="toggleFilter('recusado', this)">Recusados</button>
                    <button id="btn-pendente" type="button" class="btn"
                        onclick="toggleFilter('pendente', this)">Pendentes</button>
                </p>
            </div>
            {% for termo in page_obj %}
            <div class="col-sm-3" style="padding-bottom: 10px;">
                <div class="card" >
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="{% url 'termo' termo.id %}">Termo Número:
                                {{termo.id}}</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID Movimentação: </b>{{ termo.movimentacao.id }}</li>
                        <li class="list-group-item"><b>Tipo Movimentação: </b>{{ termo.movimentacao.get_tipo_display }}</li>
                        <li class="list-group-item"><b>Status Movimentação: </b>{{ termo.movimentacao.get_status_display }}</li>
                        <li class="list-group-item"><b>Aprovador de TI: </b>{{ termo.aprovacao.aprovador.first_name}} {{ termo.aprovacao.aprovador.last_name}}</li>
                        <li class="list-group-item"><b>Usuário Responsável: </b>{{ termo.movimentacao.usuario.first_name }} {{ termo.movimentacao.usuario.last_name }} ({{ termo.movimentacao.usuario }})</li>
                        <li class="list-group-item "><b>Aceite do Usuário: </b>{{ termo.get_aceite_usuario_display }}</li>
                    </ul>
                    <!--
                    <div class="card-body">
                        {% if approvall.status_aprovacao == 'pendente' %}
                        <div class="end-template container-fluid"
                            style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                            <a href="{% url 'aprova_movimentacao' approvall.id %}"
                                class="btn btn-success btn-lg {% if not is_aprovadores_ti_user %}disabled{% endif %}"
                                style="margin-right: 10px;">Aprovar</a>
                            <a href="{% url 'reprova_movimentacao' approvall.id %}"
                                class="btn btn-danger btn-lg {% if not is_aprovadores_ti_user %}disabled{% endif %}">Reprovar</a>
                        </div>
                        {%else%}
                        <div class="end-template container-fluid"
                            style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                            <a href="#" class="btn btn-success btn-lg disabled" style="margin-right: 10px;">Aprovar</a>
                            <a href="#" class="btn btn-danger btn-lg disabled">Reprovar</a>
                        </div>
                        {%endif%}
                    </div>-->
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Controles de Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</main>

<!--
    <footer>
        <div class="container">
            <span class="navbar-text">
                &copy; 2024 Aviva. Todos os direitos reservados.
            </span>
            <div class="ml-auto">
                <img src="{% static '/assets/marcaDaguaAviva.png' %}" class="rodape__image" alt="Icon" />
            </div>
        </div>
    </footer>
    -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Inicializa os botões com base nos parâmetros da URL
        const params = new URLSearchParams(window.location.search);
        const status = params.getAll('status');

        status.forEach(s => {
            const btn = document.querySelector(`#btn-${s}`);
            if (btn) {
                btn.classList.add('active');
            }
        });
    });

    function toggleFilter(status, button) {
        let currentUrl = new URL(window.location.href);
        let params = currentUrl.searchParams;

        // Obter todos os status ativos atualmente
        let statusList = params.getAll('status');

        // Verificar se o status já está nos parâmetros
        if (statusList.includes(status)) {
            // Se o status já está na lista, removê-lo (toggle off)
            statusList = statusList.filter(s => s !== status);
            params.delete('status');
            statusList.forEach(s => params.append('status', s));
            button.classList.remove('active');
        } else {
            // Se o status não está na lista, adicioná-lo (toggle on)
            statusList.push(status);
            params.append('status', status);
            button.classList.add('active');
        }

        // Atualizar a URL sem recarregar a página
        window.history.replaceState({}, '', `${currentUrl.pathname}?${params}`);

        window.location.reload();
    }
</script>

{% endblock %}