{% extends 'shared/base.html' %} {% load static %} {% block content %} {% load template_tags %}
<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center; color:#6c757d" name="assets">Termos de Responsabilidade</h1>
        </div>
        <div class="row">
            <div class="container-fluid" style="justify-content: center; display: flex; margin: 10px;">
                <p class="d-inline-flex gap-1">
                    <button id="btn-aceito" type="button" class="btn btn-outline-success"
                        onclick="toggleFilter('aceito', this)">Aceitos</button>
                    <button id="btn-recusado" type="button" class="btn btn-outline-danger"
                        onclick="toggleFilter('recusado', this)">Recusados</button>
                    <button id="btn-pendente" type="button" class="btn btn-outline-primary"
                        onclick="toggleFilter('pendente', this)">Pendentes</button>
                </p>
            </div>
            {% for termo in page_obj %}
            <div class="col-sm-3" style="padding-bottom: 10px;">
                <div class="card {{ termo.aceite_usuario|checa_resposta_termos }} h-100" >
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="{% url 'termo' termo.id %}">Termo Número:
                                {{termo.id}}</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID Movimentação: </b>{{ termo.movimentacao.id }}</li>
                        <li class="list-group-item"><b>Tipo Movimentação: </b>{{ termo.movimentacao.get_tipo_display }}</li>
                        
                        <li class="list-group-item"><b>Aprovador de TI: </b>{{ termo.aprovacao.aprovador.first_name}} {{ termo.aprovacao.aprovador.last_name}}</li>
                        <li class="list-group-item"><b>Usuário Responsável: </b>{{ termo.movimentacao.usuario.first_name }} {{ termo.movimentacao.usuario.last_name }} ({{ termo.movimentacao.usuario }})</li>
                        <li class="list-group-item"><b>Matricula Responsável: </b>{{ termo.movimentacao.usuario.user_employee.employee.matricula }}</li>
                        <li class="list-group-item">
                            <b>
                                Status Movimentação: 
                            </b>
                            <b>
                                {{ termo.movimentacao.get_status_display }}
                            </b>
                        </li>
                    </ul>
                    <div class="card-body h-100">
                        <h5 class="card-title">Resposta do Usuário Responsável: </h5>
                        {% if termo.aceite_usuario != 'pendente' %}
                        {{termo.get_aceite_usuario_display}} por <strong>{{termo.movimentacao.usuario.first_name}} {{termo.movimentacao.usuario.last_name}}</strong> em {{termo.data_resposta}}{% else %}
                        Pendente
                        {%endif%}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        
        {% include 'apps/tech_assets/partials_tech_assets/_paginator_filter_termos_aprovacoes/_paginator_filter_termos_aprovacoes.html' %}

{% endblock %}