{% load static %}
<div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
    <h5 class="card-title">{{approval.movimentacao}}</h5>
    <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID Movimentação:</b> {{approval.movimentacao.id}}</li>
            <li class="list-group-item"><b>Data Inclusão:</b> {{approval.data_criacao}}</li>
            {% if approval.status_aprovacao == 'aprovado' %}
            <li class="list-group-item"><b>Data Aprovação:</b> {{approval.data_conclusao}}</li>
            {%endif%}
            <li class="list-group-item"><b>Aprovador:</b> {{approval.aprovador}}
                 <a type="button" href="{% url 'editar_aprovacao' approval.id %}" class="btn btn-change {% if approval.status_aprovacao != 'pendente' %}disabled{%endif%}" title="Alterar Aprovador" style="border: none;">
                    <i class="fas fa-sync-alt"></i>
                </a></li>
            <li class="list-group-item" style="font-size: 15pt;"><b>Status:</b>
                <b>{{approval.get_status_aprovacao_display}}</b>
            </li>
        </ul>

        <div class="card-body">
            {% if approval.status_aprovacao == 'pendente' %}
            <div class="end-template container-fluid"
                style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                <a href="{% url 'aprova_movimentacao' approval.id %}"
                    class="btn btn-success btn-lg {% if not is_aprovadores_ti_user %}disabled{% endif %}"
                    style="margin-right: 10px;">Aprovar</a>
                <a href="{% url 'reprova_movimentacao' approval.id %}"
                    class="btn btn-danger btn-lg {% if not is_aprovadores_ti_user %}disabled{% endif %}">Reprovar</a>
            </div>
            {%else%}
            <div class="end-template container-fluid"
                style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                <a href="#" class="btn btn-success btn-lg disabled" style="margin-right: 10px;">Aprovar</a>
                <a href="#" class="btn btn-danger btn-lg disabled">Reprovar</a>
            </div>
            {%endif%}
        </div>
    </div>
</div>
<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <h5 class="card-title">{{movement.get_tipo_display}} ID {{movement.id}}</h5>
    <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Nome do Responsável:</b> {{movement.usuario.first_name}}
                {{movement.usuario.last_name}} ({{movement.usuario}})</li>
            <li class="list-group-item"><b>Unidade Recebedora:</b> {{movement.centro_de_custo_recebedor.nome}}
                ({{movement.centro_de_custo_recebedor}})</li>
                <li class="list-group-item"><b>Entregue Por:</b> {{movement.usuario_cedente.first_name}}
                    {{movement.usuario_cedente.last_name}} ({{movement.usuario_cedente}})</li>
                <li class="list-group-item"><b>Unidade Cedente:</b> {{movement.centro_de_custo_cedente.nome}}
                    ({{movement.centro_de_custo_cedente}})</li>
            <li class="list-group-item"><b>Data Inicio:</b> {{movement.data_movimento}}</li>
            <li class="list-group-item"><b>Previsão de Término:</b> {{movement.data_devolucao_prevista}}</li>
            <li class="list-group-item"><b>Chamado Interno:</b> {{movement.chamado_top_desk}}</li>
            <li class="list-group-item"><b>Observação:</b> {{movement.observacoes}}</li>
        </ul>
    </div>
</div>
<div class="tab-pane fade" id="ativos" role="tabpanel" aria-labelledby="ativos-tab">
    <div class="row">
        {% if assets %}
        {% for asset in assets %}
        <div class="col-sm-3">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">{{asset.tipo}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ativo: {{asset.nome}}</li>

                    <li class="list-group-item">Modelo: {{asset.modelo}}
                    </li>
                    <li class="list-group-item">Patrimonio: {{asset.patrimonio}}
                    </li>
                    <li class="list-group-item">Número de Série: {{asset.numero_serie}}
                    </li>
                </ul>
                <div class="card-body">
                    <a style="pointer-events: stroke;" href="{% url 'ativo' asset.id %}">
                        <div class="cart-icon-container">
                            <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
        {%else%}
        <h5>{{movement.get_tipo_display}} não possui ativos</h5>
        {%endif%}
    </div>
</div>
<div class="tab-pane fade" id="acessorios" role="tabpanel" aria-labelledby="acessorios-tab">
    <div class="row">
        {% if accessorys %}
        {% for accessory, quantity in accessorys %}
        <div class="col-sm-3">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">{{accessory.get_tipo_display}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ativo: {{accessory.nome}}</li>
                    <li class="list-group-item">Modelo: {{accessory.modelo}}</li>
                    <li class="list-group-item">Quantidade: {{quantity}}</li>
                </ul>
                <div class="card-body">
                    <a style="pointer-events: stroke;" href="#">
                        <div class="cart-icon-container">
                            <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
        {%else%}
        <h5>{{movement.get_tipo_display}} não possui acessórios</h5>
        {%endif%}
    </div>
</div>