{% load static %}
<div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
    <h5 class="card-title">{{asset.tipo}}</h5>
    <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nome: {{asset.nome}}</li>
            <li class="list-group-item">Patrimônio: {{asset.patrimonio}}</li>
            <li class="list-group-item">Número de série: {{ asset.numero_serie }}</li>
            <li class="list-group-item">Status: {{ asset.get_status_display }}</li>
        </ul>
    </div>
    <a href="#" class="btn btn-primary">Editar Ativo</a>
    {% if asset.get_status_display == 'Em Manutenção' %}
    <a href="{% url 'concluir_manutencao' asset.id %}" class="btn btn-primary">Concluir
        Manutenção</a>
    {% else %}
    <a href="{% url 'cadastro_manutencao' asset.id %}" class="btn btn-primary">Iniciar
        Manutenção</a>
    {% endif %}
</div>
<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <h5 class="card-title">{{asset_infos}}</h5>
    <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Fabricante: {{asset_infos.fabricante}}</li>
            <li class="list-group-item">MAC: {{asset_infos.endereco_mac}}</li>
            <li class="list-group-item">Memória: {{asset_infos.memoria}}</li>
            <li class="list-group-item">HD: {{asset_infos.armazenamento}}</li>
            <li class="list-group-item">Processador: {{ asset_infos.processador }}</li>
            <li class="list-group-item">Sistema Operacional: {{ asset_infos.so }}</li>
            <li class="list-group-item">Versão SO: {{ asset_infos.versao_so }}</li>
            <li class="list-group-item">Licenciamento SO: {{ asset_infos.licenca_so }}</li>

            <li class="list-group-item">Data de Instalação do SO: {{asset_infos.data_instalacao_so}}
            </li>
            <li class="list-group-item">Fim de Garantia: {{ asset_infos.data_garantia }}</li>
            <li class="list-group-item">Último Logon: {{ asset_infos.ultimo_logon }}</li>
            <li class="list-group-item">Último Scan Lansweeper: {{asset_infos.ultimo_scan}}</li>
        </ul>
    </div>
    <a href="#" class="btn btn-primary">Editar Ativo</a>
    {% if asset.get_status_display == 'Em Manutenção' %}
    <a href="{% url 'concluir_manutencao' asset.id %}" class="btn btn-primary">Concluir
        Manutenção</a>
    {% else %}
    <a href="{% url 'cadastro_manutencao' asset.id %}" class="btn btn-primary">Iniciar
        Manutenção</a>
    {% endif %}
</div>
<div class="tab-pane fade" id="manutencoes" role="tabpanel" aria-labelledby="manutencoes-tab">
    <div class="row">
        {% for maintenance in page_obj_maintenances %}
        <div class="col-sm-3">
            <div class="card text-center">
                {% if maintenance.dias_atraso > 0 %}
                <div class="card-body">
                    {% if maintenance.status %}
                    <h5 class="card-title" style="color: red;">Atrasada!</h5>
                    {% else %}
                    <h5 class="card-title">Finalizada com Atraso</h5>
                    {% endif %}
                </div>
                {% else %}
                <div class="card-body">
                    {% if maintenance.status %}
                    <h5 class="card-title">Em Andamento</h5>
                    {% else %}
                    <h5 class="card-title">Finalizada</h5>
                    {% endif %}
                </div>
                {% endif %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ativo: {{maintenance.ativo}}</li>
                    <li class="list-group-item">Operador Responsável: {{maintenance.operador}}
                    </li>
                    <li class="list-group-item">Chamado Interno: {{maintenance.chamado_top_desk}}
                    </li>
                    {% if maintenance.chamado_externo %}
                    <li class="list-group-item">Chamado Externo: {{maintenance.chamado_externo}}
                    </li>
                    {% endif %}
                    <li class="list-group-item">Data de Entrada: {{maintenance.data_inicio}}
                    </li>
                    {% if maintenance.data_prevista_fim != None %}
                    <li class="list-group-item">Previsão de conclusão:
                        {{maintenance.data_prevista_fim}}
                    </li>
                    {% endif %}
                    {% if maintenance.dias_atraso > 0 %}
                    <li class="list-group-item">Manutenção atrasada em {{maintenance.dias_atraso}}
                        dias!</li>
                    {% else %}
                    <li class="list-group-item">Manutenção Dentro do Prazo</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    <a style="pointer-events: stroke;" href="#">
                        <div class="cart-icon-container">
                            <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                        </div>
                    </a>
                    <a style="pointer-events: stroke; color: red;" href="{% url 'remove_do_carrinho' asset.id %}">
                        <div class="cart-icon-container">
                            <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 25px;"></i>
                            <span class="cart-remove">X</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles de Paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj_maintenances.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ page_obj_maintenances.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{page_obj_maintenances.number}} de
                {{page_obj_maintenances.paginator.num_pages}}.
            </span>

            {% if page_obj_maintenances.has_next %}
            <a href="?page={{ page_obj_maintenances.next_page_number }}">próxima</a>
            <a href="?page={{ page_obj_maintenances.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="tab-pane fade" id="emprestimos" role="tabpanel" aria-labelledby="emprestimos-tab">
    <div class="row">
        {% for movement in page_obj_movements %}
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Empréstimo para usuário: {{movement.usuario}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Centro de Custo: {{movement.centro_de_custo_recebedor.nome}}
                    </li>
                    <li class="list-group-item">Chamado Relacionado: {{movement.chamado_top_desk}}
                    </li>
                    <li class="list-group-item">Inicio do Empréstimo: {{movement.data_movimento}}
                    </li>
                    <li class="list-group-item">Previsão de devolução:
                        {{movement.data_devolucao_prevista}}
                    </li>
                    {% if movement.data_devolucao_real != None %}
                    <li class="list-group-item">Data de devolução:
                        {{movement.data_devolucao_real}}
                    </li>
                    {% else %}
                    <li class="list-group-item">Empréstimo Ativo
                    </li>
                    {% endif %}
                    <li class="list-group-item">Status: {{movement.get_status_display}}
                    </li>
                </ul>
                <div class="card-body">
                    <a style="pointer-events: stroke;" href="#">
                        <div class="cart-icon-container">
                            <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                        </div>
                    </a>
                    <a style="pointer-events: stroke; color: red;" href="{% url 'remove_do_carrinho' asset.id %}">
                        <div class="cart-icon-container">
                            <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 25px;"></i>
                            <span class="cart-remove">X</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles de Paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj_movements.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ page_obj_movements.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj_movements.number }} de {{ page_obj_movements.paginator.num_pages }}.
            </span>

            {% if page_obj_movements.has_next %}
            <a href="?page={{ page_obj_movements.next_page_number }}">próxima</a>
            <a href="?page={{ page_obj_movements.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>