{% load static %}
<div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
    <h5 class="card-title">{{aprovall.movimentacao}}</h5>
    <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID Movimentação: {{aprovall.movimentacao.id}}</li>
            <li class="list-group-item">Data Inclusão: {{aprovall.data_criacao}}</li>
            <li class="list-group-item">Data Aprovação: {{aprovall.data_conclusao}}</li>
            <li class="list-group-item">Aprovador: {{aprovall.aprovador}}</li>
            <li class="list-group-item">Status: {{aprovall.get_status_aprovacao_display}}</li>
        </ul>
    </div>
    <div class="card-body">
        <!-- Button trigger modal -->
        <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Termos e Condições de Aceite da movimentação
        </a>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Termo de Consentimento para Empréstimo de Ativos de Tecnologia</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% include 'apps/tech_assets/partials_tech_assets/_term_res_text.html' %}
                    </div>
                    <div class="modal-footer">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                              Declaro-me de acordo com os termos impostos
                            </label>
                          </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!--<button type="button" class="btn btn-primary">Understood</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="end-template container-fluid"
        style="display: flex; align-items: center; justify-content: center; padding: 20px;">
        <a href="#" id="acceptLink" class="btn btn-success btn-lg disabled" style="margin-right: 10px;">Aceitar</a>
        <a href="#" class="btn btn-danger btn-lg">Recusar</a>
    </div>
</div>
<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <h5 class="card-title">{{movement.get_tipo_display}} ID {{movement.id}}</h5>
    <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nome do Responsável: {{movement.usuario.first_name}}
                {{movement.usuario.last_name}}</li>
            <li class="list-group-item">Usuário Responsável: {{movement.usuario}}</li>
            <li class="list-group-item">Centro de Custo: {{movement.centro_de_custo.nome}}
                ({{movement.centro_de_custo}})</li>
            <li class="list-group-item">Data Inicio: {{movement.data_movimento}}</li>
            <li class="list-group-item">Previsão de Término: {{movement.data_devolucao_prevista}}</li>
            <li class="list-group-item">Chamado Interno: {{movement.chamado_top_desk}}</li>
            <li class="list-group-item">Observação: {{movement.observacoes}}</li>
        </ul>
    </div>
</div>
<div class="tab-pane fade" id="ativos" role="tabpanel" aria-labelledby="ativos-tab">
    <div class="row">
        {% for asset in assets %}
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{asset.tipo}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ativo: {{asset.nome}}</li>

                    <li class="list-group-item">Modelo: {{asset.modelo}}
                    </li>
                    <li class="list-group-item">Patrimonio: {{asset.patrimonio}}
                    </li>
                    <li class="list-group-item">Número de Série: {{asset.numero_serie}}
                    </li>
                </ul>
                <div class="card-body">
                    <a style="pointer-events: stroke;" href="{% url 'ativo' asset.id %}">
                        <div class="cart-icon-container">
                            <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

<script>
    // Seleciona o checkbox e o link "Aceitar"
    const checkbox = document.getElementById('defaultCheck2');
    const acceptLink = document.getElementById('acceptLink');

    // Função para verificar o estado do checkbox e adicionar/remover a classe 'disabled'
    function toggleLinkState() {
        if (checkbox.checked) {
            acceptLink.classList.remove('disabled');
        } else {
            acceptLink.classList.add('disabled');
        }
    }

    // Adiciona um event listener ao checkbox para verificar quando o estado mudar
    checkbox.addEventListener('change', toggleLinkState);

    // Chama a função inicialmente para garantir que o link esteja no estado correto
    toggleLinkState();
</script>