{% load static %} {% load template_tags %}
<div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
    <h5 class="card-title">
        Termo de {{movement.get_tipo_display}} para o responsável "{{movement.usuario.first_name}}
        {{movement.usuario.last_name}}"
    </h5>
    <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Matricula Responsável: </b>
                {{ movement.usuario.user_employee.employee.matricula }}
            </li>
            <li class="list-group-item">
                <b>Unidade Recebedora: </b>
                {{movement.centro_de_custo_recebedor.nome}}
                ({{movement.centro_de_custo_recebedor}})
            </li>
            <li class="list-group-item">
                <b>Unidade Cedente Cedente: </b>
                {{movement.centro_de_custo_cedente.nome}}
                ({{movement.centro_de_custo_cedente}})
            </li>
            <li class="list-group-item">
                <b>Data Inclusão: </b>
                {{term.data_criacao}}
            </li>
            <li class="list-group-item">
                <b>Aprovação de TI: </b>
                {{aprovall.get_status_aprovacao_display}} por {{aprovall.aprovador.first_name}}
                {{aprovall.aprovador.last_name}} em {{aprovall.data_conclusao}}
            </li>
            <li class="list-group-item">
                <b>Resposta do Usuário Responsável: </b>
                {% if term.aceite_usuario != 'pendente' %}
                {{term.get_aceite_usuario_display}} por
                {{movement.usuario.first_name}} {{movement.usuario.last_name}} em {{term.data_resposta}}
                {% else %}
                Pendente
                {%endif%}
            </li>
            {% if term.justificativa %}
            <li class="list-group-item">
                <b>Justificativa: </b>
                {{term.justificativa}}
            </li>
            {%endif%}
        </ul>
    </div>
    <div class="card-body">
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
        data-bs-trigger="hover focus"
        data-bs-content="Leia os termos pertinentes a movimentação clicando aqui.">
        <a type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            style="width: 100%;">
            Termos e Condições de Aceite da movimentação
        </a>
        </span>
    </div>
    <div class="end-template container-fluid"
        style="display: flex; align-items: center; justify-content: center; padding: 20px;">
        {% if not term.status_resposta %}
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
            data-bs-trigger="hover focus"
            data-bs-content="Leia e aceite os Termos e Condições da Movimentação antes de aprovar.">
            <a href="{% url 'aceita_termo' term.id %}" id="acceptLink" class="btn btn-success btn-lg disabled"
                style="margin-right: 10px;">
                Aceitar
            </a>
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
            data-bs-trigger="hover focus"
            data-bs-content="Após recusada, esta ação não poderá ser desfeita.">
            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropJustify"
                class="btn btn-danger btn-lg">Recusar</a>
        </span>
        {%else%}

        <!--
        <a href="#" class="btn btn-success btn-lg disabled" style="margin-right: 10px;">Aceitar</a>
        <a href="#" class="btn btn-danger btn-lg disabled">Recusar</a>
        -->
        {% if not ReturnTerm and not term.aceite_usuario == 'recusado' %}
        {% if 'TH' in user_groups or 'Suporte' in user_groups or 'Administradores' in user_groups and movement.tipo == 'emprestimo' %}
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="right"
        data-bs-trigger="hover focus"
        data-bs-content="Olá, Operador! Clicando aqui você iniciará o processo de devolução dos ativos e/ou acessórios envolvidos na movimentação.">
        <a href="{% url 'devolucao' term.id %}" class="btn btn-outline-secondary" style="width: 100%;">Iniciar
            Devolução</a>
        </span>
        {%endif%}
        {%endif%}
        {%endif%}
    </div>
</div>