{% extends 'shared/base.html' %} {% load static %} {% block content %}
<main role="main" class="container-fluid">
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="starter-template" style="justify-content: center; align-items: center;">
            <h1 style="text-align: center;" name="assets">Carrinho de Seleções</h1>
        </div>
        <div style="margin-bottom: 10px; display: flex; justify-content: flex-end;">
            <form method="GET" action="{% url 'carrinho' %}" class="form-inline my-2 my-lg-0">
                <input class="form-control" type="text" name="q" id="filterInput" value="{{ query }}"
                    placeholder="Pesquisar...">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="table-container">
            <table id="assetsTable" class="table table-bordered">
                <thead class="thead-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Patrimônio</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Número de Série</th>
                    <th scope="col">Status</th>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Carrinho</th>
                </thead>
                <tbody>
                    {% for asset in page_obj %}
                    <tr data-item-id="{{ asset.id }}">
                        <th scope="row">{{ asset.id }}</th>
                        <td>{{ asset.nome }}</td>
                        <td>{{ asset.patrimonio }}</td>
                        <td>{{ asset.tipo }}</td>
                        <td>{{ asset.numero_serie }}</td>
                        <td>{{ asset.status }}</td>
                        <td><a style="pointer-events: stroke;" href="#">
                            <div class="cart-icon-container">
                                <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                            </div>
                        </a></td>
                        <td><a style="pointer-events: stroke; color: red;"
                                href="{% url 'remove_do_carrinho' asset.id %}">
                                <div class="cart-icon-container">
                                    <i class="fa fa-shopping-cart" style="margin-left: 8px; font-size: 25px;"></i>
                                    <span class="cart-remove">X</span>
                                </div>
                            </a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9">No assets found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Controles de Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% if cart_items %}
        <div class="end-template container-fluid"
            style="display: flex; align-items: center; justify-content: center; padding: 20px;">
            <a href="#" class="btn btn-success btn-lg" style="margin-right: 10px;">Finalizar Empréstimo</a>
            <a href="#" class="btn btn-danger btn-lg">Apagar Carrinho</a>
        </div>
        {% else %}
        <div class="end-template container-fluid"
            style="display: flex; align-items: center; justify-content: center; padding: 20px;">
            <a href="#" class="btn btn-success btn-lg disabled" style="margin-right: 10px;">Finalizar Empréstimo</a>
            <a href="#" class="btn btn-danger btn-lg disabled">Apagar Carrinho</a>
        </div>
        {% endif %}
    </div>
</main>

<!--
    <footer>
        <div class="container">
            <span class="navbar-text">
                &copy; 2024 Aviva. Todos os direitos reservados.
            </span>
            <div class="ml-auto">
                <img src="{% static '/assets/marcaDaguaAviva.png' %}" class="rodape__image" alt="Icon" />
            </div>
        </div>
    </footer>
    -->


{% endblock %}