{% load static %}
{% load template_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Tech Ops Hub</title>
</head>

<body>
    <header>
        
        <img src="{% static 'assets/coruja.jpg' %}" alt="Uma pessoa feliz no computador" class="responsive-img">
    </header>
    <main>
        <h1>Bem vindo(a) ao TechOps Hub</h1>
        <div class="social-media">
            <div class="social-media-details">
                <a href="{{ URL_POS_CLICK_MS_LOGO }}">
                    <img src="{% static 'assets/microsoft-logo.svg' %}" alt="icone para realizar autenticação com Microsoft" class="social-media-icon">
                    <p>Clique aqui para entrar com uma conta Microsoft</p>
                </a>
            </div>
        </div>
    </main>
</body>

</html>
