{% load static %}
<div class="tab-pane fade" id="acessorios" role="tabpanel" aria-labelledby="acessorios-tab">
    <div class="row">
        {% if accessorys %}
        {% for accessory, quantity in accessorys %}
        <div class="col-sm-3">
            <div class="card h-100 text-center">
                <div class="card-header">
                    <h5 class="card-title">{{accessory.get_tipo_display}}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" style="text-align: start;">
                        <li class="list-group-item">Ativo: {{accessory.nome}}</li>
                        <li class="list-group-item">Modelo: {{accessory.modelo}}</li>
                        <li class="list-group-item">Quantidade: {{quantity}}</li>
                    </ul>
                    <li class="list-group-item" style="text-align: center;">
                        <div class="card-body">
                            <a style="pointer-events: stroke;" href="#">
                                <div class="cart-icon-container">
                                    <i class="fa fa-eye" style="margin-left: 8px; font-size: 25px;"></i>
                                </div>
                            </a>
                        </div>
                    </li>
                </div>

            </div>
            {% endfor %}
            {%else%}
            <h5>{{movement.get_tipo_display}} não possui acessórios</h5>
            {%endif%}
        </div>
    </div>