{% load static %}
{% load template_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login_new.css' %}">
    <title>Tech Ops Hub</title>
</head>

<body>
    <main>
        <div class="login-card">
            <h2>Bem vindo(a) ao Tech Ops Hub</h2>
            <button class="button-login" onclick="window.location.href='{{ URL_POS_CLICK_MS_LOGO }}'">
                <img class="microsoft-logo" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg"
                    alt="Microsoft" width="20">
                Entrar com conta Microsoft Aviva
            </button>
            <p style="color: #0a0a0a;">Utilize seu e-mail Aviva</p>
        </div>
    </main>
</body>

</html>