{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>TechOps Hub</title>
</head>

<body>

    <main>

        <div class="login-card">
            <h1><img alt="" width="32" height="32" class="rounded-circle me-2"
                    src="{% static 'assets/info_user.svg' %}"/> Ops... algo deu errado, {{request.user.first_name }}!</h1>
            <p>Você precisa de algumas permissões para acessar esta e outras áreas. Mas não se preocupe,
                procure o time de suporte para ajuda-lo(a).</p>
            <p style="text-align: center;"><a href="{% url 'logout' %}">Clique aqui para sair</a></p>
        </div>

    </main>
</body>

</html>