{% load static %}
<div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
    <h5 class="card-title">{{approval.movimentacao.get_tipo_display}} para {{approval.movimentacao.usuario.first_name}} {{approval.movimentacao.usuario.last_name}}</h5>
    <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID Movimentação:</b> {{approval.movimentacao.id}}</li>
            <li class="list-group-item"><b>Data Inclusão:</b> {{approval.data_criacao}}</li>
            {% if approval.status_aprovacao == 'aprovado' %}
            <li class="list-group-item"><b>Data Aprovação:</b> {{approval.data_conclusao}}</li>
            {%endif%}
            <li class="list-group-item"><b>Aprovador:</b> {{approval.aprovador}}
                 <a type="button" href="{% url 'editar_aprovacao' approval.id %}" class="btn btn-change {% if approval.status_aprovacao != 'pendente' %}disabled{%endif%}" title="Alterar Aprovador" style="border: none;">
                    <i class="fas fa-sync-alt"></i>
                </a></li>
            <li class="list-group-item" style="font-size: 15pt;"><b>Status:</b>
                <b>{{approval.get_status_aprovacao_display}}</b>
            </li>
        </ul>

        <div class="card-body">
            {% if approval.status_aprovacao == 'pendente' %}
            <div class="end-template container-fluid"
                style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                <a href="{% url 'aprova_movimentacao' approval.id %}"
                    class="btn btn-success btn-lg {% if not is_aprovadores_ti_user %}disabled{% endif %}"
                    style="margin-right: 10px;">Aprovar</a>
                <a href="{% url 'reprova_movimentacao' approval.id %}"
                    class="btn btn-danger btn-lg {% if not is_aprovadores_ti_user %}disabled{% endif %}">Reprovar</a>
            </div>
            {%else%}
            <div class="end-template container-fluid"
                style="display: flex; align-items: center; justify-content: center; padding: 20px;">
                <a href="#" class="btn btn-success btn-lg disabled" style="margin-right: 10px;">Aprovar</a>
                <a href="#" class="btn btn-danger btn-lg disabled">Reprovar</a>
            </div>
            {%endif%}
        </div>
    </div>
</div>

