{% load static %} {% load template_tags %}
<div class="tab-pane fade" id="movement" role="tabpanel" aria-labelledby="movement-tab">
    <div class="row">
        {% for movement in page_obj_movements %}
        <div class="col-sm-3">
            <div class="card h-100 text-center">
                <div class="card-header">
                    <h5 class="card-title">
                        <a href="{% url 'termo' movement.id %}">
                            {{movement.movimentacao.get_tipo_display}} #{{movement.movimentacao.id}}
                        </a>
                    </h5>
                </div>
                <div class="card-body h-100" style="margin-top: 10px; margin-bottom: 10px;">
                    <ul class="list-group list-group-flush" style="text-align: start;">
                        <li class="list-group-item">
                            <b>Nome do Responsável: </b>
                            {{ movement.movimentacao.usuario.first_name }} {{ movement.movimentacao.usuario.last_name }} ({{ movement.movimentacao.usuario }})
                        </li>
                        <li class="list-group-item">
                            <b>Matricula Responsável: </b>
                            {{ movement.movimentacao.usuario.user_employee.employee.matricula }}
                        </li>
                        <li class="list-group-item">
                            <b>Data Inicio: </b>
                            {{ movement.movimentacao.data_movimento }}
                        </li>
                        <li class="list-group-item">
                            <b>Previsão de Término: </b>
                            {% if movement.data_devolucao_prevista %}
                            {{movement.movimentacao.data_devolucao_prevista}}
                            {% else %}
                            Não Informada
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <b>Data de Conclusão: </b>
                            {% if movement.data_devolucao_real %}
                            {{movement.movimentacao.data_devolucao_real}}
                            {% else %}
                            -----
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <b>Chamado Interno: </b>
                            {{ movement.movimentacao.chamado_top_desk }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles de Paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj_movements.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ page_obj_movements.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{page_obj_movements.number}} de
                {{page_obj_movements.paginator.num_pages}}.
            </span>

            {% if page_obj_movements.has_next %}
            <a href="?page={{ page_obj_movements.next_page_number }}">próxima</a>
            <a href="?page={{ page_obj_movements.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>