{% load static %}
<div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
    <div class="card-header">
        <h5 class="card-title">{{asset.tipo}}</h5>
    </div>
    <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush" style="text-align: start;">
            <li class="list-group-item"><b>Nome:</b> {{asset.nome}}</li>
            <li class="list-group-item"><b>Patrimônio:</b> {{asset.patrimonio}}</li>
            <li class="list-group-item"><b>Número de série:</b> {{ asset.numero_serie }}</li>
            <li class="list-group-item"><b>Status:</b> {{ asset.get_status_display }}</li>
            <li class="list-group-item"><b>Localização:</b> {% if not asset.localizacao %}-----{%else%}{{ asset.localizacao}}{%endif%}</li>
        </ul>
    </div>
    <a href="#" class="btn btn-primary">Editar Ativo</a>
    {% if asset.get_status_display == 'Em Manutenção' %}
    <a href="{% url 'concluir_manutencao' asset.id %}" class="btn btn-primary">Concluir
        Manutenção</a>
    {% else %}
    <a href="{% url 'cadastro_manutencao' asset.id %}" class="btn btn-primary">Iniciar
        Manutenção</a>
    {% endif %}
</div>
<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <div class="card-header">
        <h5 class="card-title">{{ asset_infos.nome }}</h5>
    </div>
    <div class="card h-100" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="list-group list-group-flush" style="text-align: start;">
            {% for key, value in asset_infos.items %}
                <li class="list-group-item">
                    <b>{{ key|title }}:</b> {{ value }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>